<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <nav class="navbar">
      <span>JWT Example</span>
      <ul>
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>
    <main class="container">
      <h1>Login</h1>
      <form>
        <div class="form-section">
          <label for="user">Username</label>
          <input type="text" name="username" placeholder="Username" />
        </div>
        <div class="form-section">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password" />
        </div>
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
